<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper" style="display: flex; justify-content: space-between; align-items: center;">
      
      <div class="footer-col">
        <p style="margin-bottom: 0;">{{ site.title | escape }}</p>
      </div>

      <div class="footer-col">
        {%- if site.github_username -%}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="20" height="20" style="margin-right: 8px;">
          <span>GitHub</span>
        </a>
        {%- endif -%}
      </div>

    </div>
  </div>
</footer>
